/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about,
.services,
.skills,
.teams,
.posts,
.contact,
.planos,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content,
.posts .posts-content,
.planos .posts-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #4cc9f0;
  padding: 0 5px;
  transform: translateX(-50%);
}
@media (max-width: 1146px) {
  .planos .title::after {
    position: absolute;
    bottom: -30px;
    left: 50%;
    font-size: 20px;
    color: #4cc9f0;
    transform: translateX(-50%);
  }
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: #3a0ca3;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: #4cc9f0;
  transition: all 0.3s ease;
}
.navbar .logo a img {
  padding: 0 10px 8px 0;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #4cc9f0;
  font-weight: 500;
}
.navbar.sticky .menu li a:hover {
  color: #4cc9f0;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #4cc9f0;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* home section styling */
.home {
  display: flex;
  background: url("../images/banner.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 30px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: #4cc9f0;
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  background: #4cc9f0;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #4cc9f0;
  transition: all 0.3s ease;
}
.home .home-content a:hover {
  color: #4cc9f0;
  background: none;
}

/* about section styling */
.about .title::after {
  content: "Um resumo da minha jornada.";
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 450px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: #3a0ca3;
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: #3a0ca3;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #3a0ca3;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: #3a0ca3;
  background: none;
}

/* services section styling */
.services,
.teams,
.posts {
  color: #fff;
  background: #111;
}
.services .title::before,
.teams .title::before,
.post .title::before {
  background: #fff;
}
.services .title::after,
.teams .title::after .posts .title::after,
.planos .title::after .planos .title::after {
  background: #111;
  content: "what i provide";
}
.services .serv-content .card {
  width: calc(50% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .title::after {
  content: "-";
}
.services .serv-content .card:hover {
  background: #3a0ca3;
}
.services .serv-content .card .box {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}
.services .serv-content .card i {
  font-size: 50px;
  color: #3a0ca3;
  transition: color 0.3s ease;
}
.services .serv-content .card:hover i {
  color: #fff;
}
.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.services .serv-content .card p {
  margin: 0 0 10px 0;
  padding: 0 50px 0 50px;
}

/* skills section styling */

.skills .title::after {
  content: "-";
}
.skills .skills-content .column {
  width: calc(50% - 30px);
}
.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p {
  text-align: justify;
}
.skills .skills-content .left a {
  display: inline-block;
  background: #3a0ca3;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #3a0ca3;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
  color: #3a0ca3;
  background: none;
}
.skills .skills-content .right .bars {
  margin-bottom: 15px;
}
.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #3a0ca3;
}
.skills-content .right .html::before {
  width: 70%;
}
.skills-content .right .css::before {
  width: 50%;
}
.skills-content .right .js::before {
  width: 40%;
}
.skills-content .right .php::before {
  width: 50%;
}
.skills-content .right .mysql::before {
  width: 70%;
}

/* teams section styling */
.teams .title::after {
  content: "-";
}
.teams .carousel .card {
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.teams .carousel .card:hover {
  background: #3a0ca3;
}
.teams .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.teams .carousel .card:hover .box {
  transform: scale(1.05);
}
.teams .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.teams .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #3a0ca3;
  transition: all 0.3s ease;
}
.teams .carousel .card:hover img {
  border-color: #fff;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #3a0ca3 !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: #3a0ca3 !important;
}

/* Inicio */
/* posts section styling */
.posts .title::after {
  content: "Post para redes sociais";
}
.posts .carousel .card {
  background: #222;
  border-radius: 0px;
  padding: 2px 2px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.posts .carousel .card:hover {
  background: #3a0ca3;
}
.posts .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.posts .carousel .card:hover .box {
  transform: scale(1.05);
}
.posts .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
/* .posts .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #3a0ca3;
  transition: all 0.3s ease;
} */
.posts .carousel .card:hover img {
  border-color: #fff;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #3a0ca3 !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: #3a0ca3 !important;
}
/* Fim */

/* Inicio */
/* Planos para posts styling */
.planos {
  background: #3a0ca3;
}
.planos .title::after {
  content: "Se você trabalha em uma agência, entre em contato.";
}

.planos .row {
  display: flex;
  margin: 10px 0 10px 0;
  text-align: center;
  color: #333;
}

.planos .row {
  font-weight: 500;
}
.planos .info .sub-title {
  color: #333;
}

.planos a {
  display: inline-block;
  background: #3a0ca3;
  color: #f7f7f7;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin: 20px 0 20px 0;
  border-radius: 6px;
  border: 2px solid #3a0ca3;
  transition: all 0.3s ease;
  width: 80%;
}
.planos a:hover {
  color: #3a0ca3;
  background: none;
}

.planos .master a {
  display: inline-block;
  background: #333;
  color: #f7f7f7;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin: 20px 0 20px 0;
  border-radius: 6px;
  border: 2px solid #333;
  transition: all 0.3s ease;
  width: 80%;
}
.planos a:hover {
  color: #333;
  background: none;
}

.planos .carousel .card {
  background: #f7f7f7;
  box-shadow: inset 0 0 1em #f8f8f8;
  border-radius: 6px;
  padding: 30px 8px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.planos h3 {
  font-size: 40px;
  font-weight: 500;
  color: #3a0ca3;
}
.planos h2 {
  color: #fff;
}
.planos .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
/* .planos .carousel .card:hover .box {
  transform: scale(1.05);
} */
.planos .carousel .card .text {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 10px;
}

.planos .carousel .card .valor {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  padding: 10px;
}

.planos .carousel .card .desconto {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  color: #1CA32C;
}

.planos .carousel .card:hover img {
  border-color: #fff;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.planos .owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #4cc9f0 !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.planos .owl-dot.active,
.planos .owl-dot:hover {
  background: #4cc9f0 !important;
}

/* Fim */

/* contact section styling */
.contact .title::after {
  content: "...";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: #3a0ca3;
}
.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .sub-title {
  color: #333;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button {
  height: 47px;
  width: 170px;
}
.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid #3a0ca3;
  background: #3a0ca3;
  color: #fff;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button button:hover {
  color: #3a0ca3;
  background: none;
}

/* footer section styling */
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: #4cc9f0;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .services .serv-content .card {
    width: 100%;
  }
  .posts .title::after,
  .about .title::after,
  .skills .title::after,
  .planos .title::after {
    content: "-";
  }
  .planos .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #4cc9f0;
    transform: translateX(-50%);
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 40px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}

/*rede sociais*/


.social {
  display: block;
  position: relative;
  text-align: center;
  margin: 100px 0px 0px 0px;
  text-align: center;
  padding-bottom: 25px; 
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-0%,-50%);
  transform:translate(-0%,-50%);
}

/* Icons */

.redes{
  color:#fff;
  background: #202020;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:50px;
  height:50px;
  padding-top:12px;
  margin:0 2px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}

.redes:hover {
  background: #4cc9f0;
}

/* pop-up text */

.redes span {
  color:#666;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.redes span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-4px;
  left:40px;
}

/* text pops up when icon is in hover state */

.redes:hover span {
  bottom:60px;
  visibility:visible;
  opacity:1;
}

/* font awesome icons */

.redes:nth-of-type(1):before {
content:'\f16d';
}
.redes:nth-of-type(2):before {
content:'\f1b4';
}
.redes:nth-of-type(3):before {
content:'\f0d5';
}
.redes:nth-of-type(4):before {
content:'\f113';
}
.redes:nth-of-type(5):before {
content:'\f17d';
}
.redes:nth-of-type(6):before {
content:'\f1cb';
}